*{
    margin: 0px;
}
body{
    background-color: orange;
}
.page-wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: white;
    border-radius: 2%;
}
.navigation-box{
    width: 100%;
    padding: 50px 0px;
    background-color: lightcoral;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    overflow: hidden;
}
.img-box{
    font-family: sans-serif;
}
.content-box{
    margin-top: 10%;
    background-color: lightcoral;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px; 
    padding: 0px 0px  200px 0px;
    font-family: monospace;
}